# configuration file for sats-autobooker.py
# the file must be utf-8 encoded

# basic authorization data

email = your@email.com
password = your-sats-password

# class specification according to the format below
# exact class name, Weekday (in Swedish) HH:MM, exact center name

Pilates, Måndag 17:30, Spårvagnshallarna
Hot MOJO, Tisdag 16:00, S:t Eriksbron

